
<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

 <p>
    Splurty was built by <a target="_blank" href="https://mdcodeexpert.netlify.com">Dr. Raymond Bertrand</a>. He is a medical doctor with a passion for writing code and helping others with their coding projects.
  </p>
  <br />
  <p>Dr. Raymond Bertrand wants to enpower your creative side by using code.
    
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Dr. Raymond Bertrand</h2>

      <br />
      <p>
          Dr. Raymond Bertrand's skill set is especially well suited for writing code that impacts various medicine related applications. 
      </p>
      
  </div>
  <br class="clear" />

  </div>

</div>
<br class="clear" />
<br />
<br />
<br />
<br />